.home {
  width: 96%;
  margin: auto;
  padding: 0;
  height: 90vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  font-family: Arial, sans-serif;
}

.ingresarBtn {
  padding: 10px 20px;
  font-size: 1.5em;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  transition: background-color 0.3s;
  border: 3px solid black;
  
}
  

.ingresarBtn:hover {
  background-color: black;
  color: white;
}

.title {
  
  width: 800px;
  margin: 0 auto;
}

.home h2{
  font-size: 2rem;
  margin: 18px;
  height: 20vh;
  width: 500px;
 
  display: flex;
  align-items: center;
  justify-content: center;
}