/* Estilo para el contenedor principal del NavBar */
.NavBar {
  width: 95%;
  margin: auto;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  border-bottom: 3px solid darkgrey;
  transition: left 0.3s ease-in-out;
  left: -100%; /* Inicialmente fuera de la pantalla a la izquierda */
  top: 0;
  height: 100%;
  
}

/* Estilo para los enlaces del NavBar */
.NavBar a {
  color: white;
  text-decoration: none;
  margin: 10px;
  padding: 10px 25px;
  font-weight: bold;
  font-family: "Nunito-VariableFont_wght", sans-serif;
  font-size: 20px;
  border-radius: 50px;
  transition: left 0.3s ease-in-out;
}

/* Cambio de color al pasar el mouse sobre los enlaces */
.NavBar a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  padding: 10px 25px;
}

.NavBar a:active {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px 25px;
}

.menu {
  font-size: 2em;
  cursor: pointer;
  margin-left: 90%;
  margin-top: 20px;
  display: none;
}

@media (max-width: 768px) {
  .menu {
    display: flex;
  }

  .NavBar {
    position: fixed;
    left: -100%;
    top: 0;
    width: 80%;
    height: 100vh;
    background-color:rgb(2, 2, 2) ;
    z-index: 100;
    /* padding: 60px 0 0; */
    transition: left 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
  
  }

  .NavBar.open {
    left: 0;
  }

  .NavBar a {
    display: block;
    margin: 1.5rem 0;
    font-size: 1.1rem;
    text-align: center;
    width: 80px;
    margin: auto;
    margin-bottom: 80px;
  }
}

