@font-face {
  font-family: 'PoetsenOne-Regular';
  src: url('./assets/fonts/PoetsenOne-Regular.ttf') format('truetype');
}

@font-face {
  font-family:'Nunito-VariableFont_wght', 'Nunito-Italic-VariableFont_wght';
  src: url('./assets/fonts/Nunito-Italic-VariableFont_wght.ttf') format('truetype'),
       url('./assets/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
}

body {
  /*background-color:hsla(240,100%,1%,1);*/
  background-image: url("../public/images/fondo1.jpg");
  object-fit: cover;
  background-size: cover;
  background-attachment: fixed; /* Fija la imagen de fondo */
  background-position: center;
  position: relative;
  font-family: 'PoetsenOne-Regular', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  color: white;
}
