/* Proyectos.css */

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.galeria{
  max-width: fit-content;
  height: fit-content;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1;
}

.proyectoCard {
  background-color: #252A2E;
  position: relative;
  max-width: 340px;
  height: 250px;
  margin: 10px;
  border: solid 3px #252A2E;
  border-radius: 8px;
}

.imagen{
  position: absolute;
  
  z-index: 1;
  max-width: 340px;
  border-radius: 8px;
  cursor: pointer;
}

.imagen:hover{
  position: absolute;
  transition: 1s;
  opacity: 0;
}

.overlay{
  display: inline-block;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.enlace {
  outline: none;
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

.titulo {
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin: 8px;
  padding: 5px;
}

.parrafo1, .parrafo2{
  margin: 15px;
}

.parrafo1 {
  display: flex;
  justify-content: center;
}

.parrafo2 {
  display: flex;
  justify-content: center;
  margin: 5px;
  font-family: 'Nunito-Italic-VariableFont_wght', sans-serif;
  font-weight: bold;
}
