.container-padre {
  display: flex;
  justify-content: center;
  margin: 80px 0 auto;
}

.galeria {
  /* max-width: fit-content;
  height: fit-content;
  display: flex;
  flex-wrap: wrap; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.proyectoCard {
  background-color: #252a2e;
  position: relative;
  max-width: 340px;
  height: 250px;
  margin: 10px;
  border: solid 3px #252a2e;
  border-radius: 8px;
  flex-grow: 1;
}

.imagen {
  position: absolute;
  z-index: 1;
  max-width: 340px;
  border-radius: 8px;
  cursor: pointer;
}

.imagen:hover {
  position: absolute;
  transition: 1s;
  opacity: 0;
}

.overlay {
  display: inline-block;
  padding: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.enlace {
  outline: none;
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

.titulo {
  font-weight: bold;
  font-size: 16pt;
  display: flex;
  justify-content: center;
  margin: 8px;
  padding: 5px;
  color: white;
}

.parrafo1,
.parrafo2 {
  color: white;
  margin: auto;
}

.parrafo1 {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.parrafo2 {
  display: flex;
  justify-content: center;
  font-family: "Nunito-VariableFont_wght", sans-serif;
  font-weight: bold;
}
